{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="main">
        <h1 class="text-center mb-4">Budget Tracker</h1>
        <p class="text-center">Welcome to my personal budget tracking application!
            Here, you can track your income and expenditure, set a savings goal,
            and monitor your progress towards the set savings goal.
            Stay organized with your finances by using my intuitive and user-friendly interface which
            has support for users with disabilities and complies with the WCAG standard!</p>
    </div>
    

    <div>
        <div class="row mb-3">
            <div class="col-6">
                <a href="/income" class="btn btn-success float-md-right p-2 display-1" role="button" aria-pressed="true">Add Income</a>
            </div>
            <div class="col-6">
                <a href="/expenditure" class="btn btn-danger  p-2" role="button" aria-pressed="true">Add Expenditure</a>
            </div>
        </div>
    
    </div>
    
    <br>

        {% if income_and_expenditure %}
            <table class="table table-bordered table-secondary">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Type</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                        <th scope="col">Amount (£)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in income_and_expenditure %}
                        {% set is_income = result.__tablename__ == 'income' %}
                        {% set row_class = 'income' if is_income else 'expenditure' %}
                
                        <tr class="text-center">
                            <th scope="row" class="{{ row_class }}">{{ 'Income' if is_income else 'Expenditure' }}</th>
                            <td>{{ result.name }}</td>
                            <td>
                                <a href="{{ url_for('update_entry', entry_type=result.__tablename__, id=result.id) }}" class="btn btn-warning">Edit</a>
                                <a href="{{ url_for('delete_entry', entry_type=result.__tablename__, id=result.id) }}" class="btn btn-danger">Delete</a>
                            </td>
                            <td>{{ result.amount }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>

        {% else %}
            <div class="empty">
                <h1>Please add some transactions in your income/expenditure so we can manage your finances!</h1>
            </div>
        {% endif %}

    <br>

    <div class="row">
        <div class="col-sm text-center">
            <div class="card text-white bg-success mb-3" >
                <div class="card-body">
                    <h5 class="card-title">Total Income (£):</h5>
                    <p class="card-text">
                        {{ total_income }}
                    </p>
                </div>
            </div>
        </div>
            
        <div class="col-sm text-center">
            <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Expenditure (£):</h5>
                    <p class="card-text">
                        {{ total_expenditure }}
                    </p>
                </div>
            </div>
        </div>

        <!-- Conditional Render -->
        {% if savingsGoal %}
            <div class="col-sm text-center">
                <div class="card text-white bg-info mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Savings Goal (£):</h5>
                        <p class="card-text">{{ savingsGoal[0].goal_amount }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

        <!-- Renders either a surplus/deficit depending on the net difference of income and expenditure -->
    <div class="row">
        <div class="col text-center">
            <div class="card text-white 
            {% if total_difference < 0 %}
             bg-danger 
            {% elif total_difference > 0 %}
            bg-success
            {% else %}
            bg-info
            {% endif %} mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        {% if total_difference < 0 %}
                            Deficit
                        {% else %}
                            Surplus
                        {% endif %}
                        (£):
                    </h5>
                    <p class="card-text">
                        {% if total_difference < 0 %}
                            {{ total_difference * -1 }}
                        {% else %}
                            {{ total_difference }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
        
        

</div>
{% endblock %}