{% extends "base.html" %}
{% block content %}

<div class="container text-center p-3">
    <h1>{{ title }}</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="updateName">Name:</label>
            {{ form.name(class_='form-control', id='updateName') }}
        </div>

        <div class="form-group">
            <label for="updateAmount">Amount (£):</label>
            {{ form.amount(class_='form-control', id='updateAmount') }}
        </div>

        <p><input type="submit" value="Submit"></p>

        <br>
    </form>
</div>
{% endblock %}